body {
    overflow: hidden;
}

.history__list {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}

.list__item {
    margin: 15px 0;
    padding: 10px;
}

.history__item {
    margin: 15px 0;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    color: #eee;
    width: 90%;
    position: relative;
}

.card__info {
    padding: 15px 30px;
}

.card__thumbnail {
    height: 100%;
    width: 300px;
}

.card__link {
    display: inline;
}

.card__title {
    font-size: 18rem;
    display: inline-block;
    margin-bottom: 25px;
}

.card__description {
    font-size: 16rem;
    color: #aaa;
    display: inline-block;
}

.card__remove {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18rem;
    color: #333;
    background: transparent;
    border: none;
}
