.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.background-text {
    position: absolute;
    top: 75px;
    font-size: 100rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: #151515;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.settings {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    width: 100%;
}

.settings__card {
    padding: 25px;
    background: #252525;
    border-radius: 10px;
    border: none;
    color: #eee;
    height: min-content;
}

.settings__subtitle {

}

.settings__file-input {
    display: none;
}

.settings__file-label {
    outline: none;
    display: block;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.settings__input,
.settings__update {
    outline: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #252525;
    background: transparent;
    font-size: 18rem;
    color: #aaa;
}

.settings__update {
    background: var(--orange);
    color: #eee;
    cursor: pointer;
}
